@font-face{
    font-family: 'Caveat';
    src: url('../fonts/Caveat/Caveat-Bold.ttf') format(truetype);
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: 'Caveat';
    src: url('../fonts/Caveat/Caveat-Medium.ttf') format(truetype);
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Caveat';
    src: url('../fonts/Caveat/Caveat-Regular.ttf') format(truetype);
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Caveat';
    src: url('../fonts/Caveat/Caveat-SemiBold.ttf') format(truetype);
    font-weight: 600;
    font-style: normal;
}